.compose-base-images {
  width: 100%;
  height: 100%;

  overflow-y: auto;

  .compose-button {
    float: right;
  }

  .images {
    width: 100%;

    display: flex;

    flex-direction: row;

    .column {
      width: 50%;
      height: 100%;

      button {
        width: 100%;
      }
    }
  }
}
